{% extends 'page.html' %}
{% block Content %}
<link rel="stylesheet" href="{{ request.url_for('static', path='css/base.css') }}">
<link rel="stylesheet" href="{{ request.url_for('static', path='css/page3.css') }}">
<div class="page3">
    <div class="header">
        <div>التاريخ : {{ data.date }}</div>
        <div>العدد : {{ data.id }}</div>
    </div>

    <div class="bismillah">بسم الله الرحمن الرحيم</div>

    <div class="note">
        ملاحظة: يعتبر الشخص البديل عوناً رسمياً لغرض التبليغ ولا يجوز الاعتذار بعدم العلم بالتبليغ أو عدم الالتزام باستلامه من الشخص البديل ويقر الطرف الثاني بأن الشخص البديل على علم تام باختياره لهذا الغرض وعليه. ولكل ما تقدم باشر الطرفان بتوقيع هذا العقد بكامل إرادتهما وأهليتهما القانونية.
    </div>
    
    <div class="c1">تم الاتفاق بين الطرفين على أن يقوم الطرف الأول ببيع الوحدة السكنية إلى الطرف الثاني:</div>
    
    <div class="section-title">❖ الوحدة السكنية محل العقد:</div>
    <table>
        <tr>
            <td>رقم الشقة</td>
            <td>{{ data.apartment_number }}</td>
            <td>الطابق</td>
            <td>{{ data.floor }}</td>
        </tr>
        <tr>
            <td>العمارة</td>
            <td>{{ data.building }}</td>
            <td>المساحة</td>
            <td>{{ data.area }} M² لغرض السكن العائلي كما يتناسب مع غرض المشروع</td>
        </tr>
    </table>
    
    <div class="section-title">❖ التزامات الطرف الثاني:</div>
    <div class="c2">
        <ol>
            <li>يلتزم بجلب وصل الإيداع بالمبلغ المتفق عليه من المصرف الذي يتم تحديده من قبل الطرف الأول ويكون الإيداع باسم (شركة خيرات الدر للتجارة والمقاولات العامة والخدمات العامة محدودة أو الحساب المصرفي الذي يقوم الطرف الأول بإعطائه إلى الطرف الثاني).</li>
            <li>يقر الطرف الثاني بعلمه بمواعيد تسليم المستحقات الذي بذمته وفق جدول تسديد المبالغ المستلم منه من الطرف الأول ويعتبر هذا الجدول ملحق عقد وجزء لا يتجزأ منه ومكملاً له مع مراعاة طريقة بيع الوحدة السكنية.</li>
            <li>في حالة تأخر الطرف الثاني عن تسديد المستحقات المالية التي بذمته في أوقاتها المبينة في جدول الدفعات خلال مدة أقصاها أسبوعين من تاريخ استحقاق الدفعة وعدم إيداعها في المصرف المتفق عليه أو تسديدها في مقر الشركة تترتب غرامات تأخيريه مقدارها (7%) من قيمة الدفعة المستحقة وفي حال عدم الالتزام خلال مدة (30 يوماً) يُعتبر العقد مفسوخاً دون الحاجة إلى أعذار أو إقامة دعوى قضائية أو استصدار حكم قضائي، ويحق للشركة المطالبة بفوات المنفعة من المشتري بموجب دعوى قضائية مع إيداع المبلغ المدفوع لدى كاتب عدل منطقة مركز أعمال الطرف الأول بعد استقطاع مبلغ (25%) عن قيمة المبلغ المدفوع كشرط جزائي عن فسخ العقد نتيجة الإخلال أما فيما يخص قرض المصرف العقاري فيلتزم الطرف الثاني بجلب صك مبلغ القرض عن وحدته السكنية بموجب العقد الموقع بين الطرفين خلال مدة (30-45 يوم) من تاريخ توقيع العقد وبخلافه يعتبر العقد لاغياً وغير ملزم للطرف الأول.</li>
            <li>بعد جلب الصك من المصرف العقاري أو أي مصرف آخر من قبل الطرف الثاني وخلال المدة المتفق عليها (15-30 يوم) يتم إتمام معاملة استلام المبلغ داخل الشركة وحصول ما يفيد ذلك من تسليم الطرف الثاني وصل استلام مبلغ الصك وبغير ذلك يعتبر الطرف الثاني مخل بتسديد ما بذمته من التزامات مالية ويحق للطرف الأول فسخ العقد دون أعذار أو إنذار أو حكم قضائي.</li>
            <li>يتعهد الطرف الثاني بصحة معلوماته المقدمة إلى الطرف الأول ولا يلتزم الطرف الأول نتيجة إدلاء بأي معلومات أو مستمسكات غير صحيحة أو مزورة تجاه المصرف العقاري العراقي أو تجاه الطرف وفي حال ثبت إدلاء معلومات غير صحيحة يفسخ العقد تلقائياً دون الحاجة إلى أعذار أو إنذار أو اللجوء إلى القضاء.</li>
            <li>في حال إطفاء ديون الطرف الثاني من تسديد مبلغ القرض إلى المصرف العقاري أو أي مصرف آخر لا يلتزم الطرف الأول تجاه هذا الإطفاء بأي شكل ويسدد مبلغ القرض للوحدة السكنية حسب التزامات المستفيد مع الطرف الأول.</li>
            <li>تكون مساحة الوحدة السكنية موضوع العقد شاملة للأجزاء المُعدة للاستخدام المشترك (المصاعد, السلالم, المدخ, الممرات, الجدران المشتركة, وكذلك حصة من الأرض المقامة عليها العمارة) بنسبة تعادل الوحدة السكنية منسوبة إلى مجموع مسطح الشقة المبنية.</li>
            <li>لا يجوز للطرف الثاني أو خلفُه العام أو الخاص أجراء أي تعديلات خارجية في الواجهات أو السلالم أو المناور أو تغيير الألوان الخارجية للواجهات سواء في الحوائط أو البلكونات وفي الشبابيك من جهة الخارج أو الداخل وكذلك يمنع تغيير أماكن السبالت إلا بعد اخذ موافقة الطرف الأول بكتاب رسمي كما لا يجوز لهُ مطلقاً إجراء أي تكسير في الجسور أو الأعمدة الكونكريتية واي تغيير عمراني داخل وخارج الوحدة السكنية وبعكس ذلك يحق الطرف الأول بإعادة الحال كما كان عليه في الوحدة السكنية عند بداية التسليم حسب المخططات السابقة للتغير ويحق للطرف الأول الرجوع إلى الطرف الثاني بمراجعة المحاكم المختصة لغرض تقييم كلفة إعادة الحال وتحميلها للطرف الثاني كما كانت علية الوحدة السكنية في بداية التسليم وحسب المخططات الأصلية للوحدة السكنية مع مراعاه حجم الضرر في الوحدة السكنية محل العقد وضرر الوحدات السكنية المجاورة إن وجد.</li>


        
        </ol>
    </div>
</div>
{% endblock %}