{% extends 'page.html' %}
{% block Content %}
<link rel="stylesheet" href="{{ request.url_for('static', path='css/base.css') }}">
<link rel="stylesheet" href="{{ request.url_for('static', path='css/page3.css') }}">
<div class="page3">
    <div class="section-title">❖ التزامات الطرف الاول:</div>
    <div class="c2">
        <ol>
            <li>يلتزم الطرف الأول بتسليم الوحدة السكنية محل هذا العقد كاملة التشطيب وطبقاً للأصول الفنية والمهنية وطبقاً للرسومات والمواصفات الفنية المقدمة من الطرف الأول إلى الجهات ذات العلاقة ومنها (هيئة استثمار بغداد, أمانة بغداد) مع مراعاه التعديلات اللاحقة على مخططات المجمع السكني.</li>
            <li>يلتزم الطرف الأول بتسليم الوحدة السكنية محل العقد صالحة للاستخدام على الوجه أكمل الوجه من خطوط الماء والصرف الصحي والكهرباء والحدائق العامة والشوارع والأرصفة) وذلك بعد اخذ الموفقات من الجهات المعنية بذلك.</li>
            <li>يلتزم الطرف الأول بتسليم الوحدة السكنية محل التعاقد خلال مدة أقصاها (1.5 سنوات) أو الفترة المتبقية للإنجاز من تأريخ توقيع هذا العقد والمحددة من قبل هيئة استثمار بغداد على أن تضاف المدد التي تقررها الهيئة لأسباب خارجة عن إرادة الطرف الأول إضافة إلى الظروف القاهرة والطارئة.</li>
            <li>في حال أخل أحد الأطراف ببنود العقد يفسخ العقد بعد تبليغ الطرف الآخر بطلب الفسخ وخلال مدة أقصاها شهر واحد.</li>
            <li>بعد استكمال مبلغ الدفعات المستحقة في ذمة الطرف الثاني يلتزم الطرف الأول بتسجيل الوحدة السكنية في دوائر التسجيل العقاري بأسم الطرف الثاني علماً أنَّ تحديد الأسهم لكل وحدة سكنية يكون وفق تعليمات وضوابط وقوانين مديرية التسجيل العقاري العراقي المرقم (43 لسنة 1971).</li>
            <li>القيام بتجهيز المصاعد وبصيانتها كل ما دعت الحاجة لذلك.</li>
            <li>يلتزم الطرف الأول بصيانة الوحدة السكنية لمدة ستة أشهر من تأريخ استلام الوحدة السكنية، وتلغى هذه الفقرة في حال استئجار الطرف الثاني لوحدته السكنية.</li>
            <li>يلتزم الطرف الأول بدفع غرامة مقدارها (10$) عن كل يوم تأخير من مدة استلام الوحدة السكنية.</li>
            <li>مسؤولية توزيع الطاقة الكهربائية تقع على عاتق الطرف الأول ولا يحق للطرف الثاني نصب مولدات خاصة.</li>
            <li>يحق للطرف الأول تطوير المشروع بزيادة عدد الطوابق وإجراء التعديلات الملائمة وفق ضوابط قانون الاستثمار بعد أخذ الموافقة من قبل الجهات المختصة بذلك.</li>
        </ol>
    </div>

    <div class="section-title">❖ أحكام عامة:</div>
    <div class="c2">
        <ol>
            <li>يجب وضع توقيع الطرفين على كل صفحه من صفحات هذا العقد.</li>
            <li>إني الطرف الثاني اطلعت على كافة بنود هذا العقد والموافقات الأصولية والإجازة الاستثمارية والرسومات الهندسية للمشروع وعاينتُ الموقع والأعمال معاينة نافية للجهالة واني على علم تام بموقع العقار.</li>
            <li>هذا العقد يلغي كافة التعاقدات التحريرية والشفوية السابقة.</li>
            <li>في حالة توقف التنفيذ بسبب القوة القاهرة أو أي بسبب أو ظرف خارج عن إرادة الطرف الأول والتي تشمل على سبيل المثال لا الحصر أو بالسبب الأجنبي كالحرب, أعمال الحرب والعدوان, الغزو, الأعمال والاعتداءات الإرهابية, التلوث شعاعي, الثورة الشغب, التمرد والعصيان المدني, الأضراب, الانقلاب, الكوارث الطبيعية كالإعصار والزلزال والعواصف والأوبئة أو بسبب أي قرار إداري صادر عن السلطات العراقية أو الجهات العليا فيتم التوقف عن احتساب المدة الزمنية المنصوص عليها في إجازة الاستثمار لإنجاز المشروع وإضافة مدة التوقف إلى المدة الأصلية لتنفيذ المشروع حال الرجوع للتنفيذ مجدداً.</li>
            <li>تعتبر العناوين المذكورة في العقد هي العناوين الرسمية في المخاطبات والرسائل والإنذارات.</li>
            <li>(النزاعات) في حالة نشوب أي نزاع بين الطرفين فيتم حله بالطرق الآتية:
                <ul>
                    <li>يتم حل النزاع ودياً.</li>
                    <li>يتم حل النزاع باللجوء إلى المحاكم العراقية وبتطبيق القوانين العراقية لحل النزاع.</li>
                    <li>تطبق القوانين العراقية على هذا العقد وتكون محاكم بغداد هي المختصة في النظر في الدعاوى الناشئة عن هذا العقد.</li>
                    <li>يعتبر هذا العقد نافذاً من تاريخ التوقيع عليه.</li>
                    <li>اللغة والنسخ والملاحق العقد:
                        <ul>
                            <li>تكون اللغة العربية هي اللغة المعتمدة.</li>
                            <li>حرر هذا العقد من (11) صفحات بـ(4) نسخ أصلية على أن يتم تسليم كل طرف نسخة من هذا العقد للعمل بموجبها.</li>
                        </ul>
                    </li>
                    <li>ملاحق العقد:
                        <ol>
                            <li>ملحق رقم (1) التصميم الكلي للمشروع</li>
                            <li>ملحق رقم (2) المخطط الشمولي للمشروع</li>
                            <li>ملحق رقم (3) مخطط الوحدة المباعة</li>
                            <li>ملحق رقم (4) مواصفات الوحدة المباعة</li>
                            <li>ملحق رقم (5) آلية التسديد</li>
                        </ol>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>
{% endblock %}